@import "bourbon/bourbon";
@import "news";
* {
  font-family: sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #9d9d9d;
}
.main {
  height: 100%;
  width: 740px;
  background: $bg-color;
  margin: 0 auto;
  position: relative;
  //box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.47);
}
header.site-header {
  height: 60px;
  padding: 0 10px;
  position: relative;
  overflow: visible;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
figure.social {
  float: right;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0;
  display: table;
  ul {
    margin: auto 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    width: 100px;
    word-spacing: 5px;
    li {
      width: 25px;
      height: 25px;
      display: inline-block;
      a {
        text-decoration: none;
        &::before {
          color: $text-color-light;
          font-size: 23px;
          line-height: 25px;
        }
        &.fa-deviantart:hover::before {
          color: #308330;
        }
        &.fa-github:hover::before {
          color: #3b6d9f;
        }
        &.fa-instagram:hover::before {
          color: #4152af;
        }
        &.fa-twitter:hover::before {
          color: #1e88af;
        }
        &.fa-facebook-square:hover::before {
          color: #4b23a2;
        }
        &.fa-vk:hover::before {
          color: #2e4da0;
        }
        .hidden-text {
          line-height: 0;
          font-size: 0;
          color: transparent;
        }
      }
    }
  }
}
h1.site-logo {
  margin: 0;
  float: left;
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  font-family: $iface-font-family;
  font-weight: lighter;
  color: #afafaf;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  .logo-text {
    display: table-cell;
    vertical-align: middle;
  }
  .logo-text-highlight {
    color: $highlight-color;
  }
}
nav.site-nav {
  display: block;
  height: 100%;
  text-align: center;
  ul {
    display: inline-block;
    position: relative;
    padding: 0;
    top: 10px;
    list-style: none;
    text-align: center;
    vertical-align: bottom;
    li {
      display: inline-block;
      &:not(first-child) {
        margin-right: 20px;
      }
      a:link {
        font-size: 22px;
        color: $text-color;
        text-transform: uppercase;
        font-family: $iface-font-family;
        text-decoration: none;
      }
      a:visited {
        color: $text-color;
      }
      a:hover {
        color: $highlight-color;
        text-decoration: underline;
      }
      a:active {
        color: $active-color;
      }
      a.selected {
        color: $accent-color;
        &:hover {
          color: $highlight-color;
        }
        &:active {
          color: $active-color;
        }
      }
    }
  }
}
#imageSlider {
  margin: 0;
  padding: 0;
  height: 240px;
  position: relative;
  background: $bg-dark;
  background: linear-gradient(darken($bg-dark, 6%), $bg-dark 5%, $bg-dark 95%, darken($bg-dark, 6%));
}
section.site-content {
  padding: 0 15px 15px 15px;
  text-align: center;
  background-color: $bg-color;
  overflow: hidden;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $inactive-color;
    font-family: $iface-font-family;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
footer.site-footer {
  padding: 10px 0 5px 0;
  text-align: center;
  font-size: smaller;
  color: $bg-dark;
  overflow: hidden;
}
// News block
article.news-block {
  display: block;
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 1px .05px rgba(0, 0, 0, 0.29);
  &:last-child {
    margin-bottom: 0;
  }
  .news-header {
    .news-date {
      display: block;
      text-align: right;
      font-size: smaller;
      font-weight: bold;
      text-transform: uppercase;
      color: $highlight-secondary-color;
    }
    h3 {
      color: $text-color-light;
      text-transform: uppercase;
      font-weight: lighter;
      position: relative;
      top: -5px;
    }
  }
  .news-content {
    text-align: left;
    padding: 0 5px;
    color: $text-color-light;
    p {
      margin-top: 1px;
      margin-bottom: 5px;
    }
    .preview-img {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
// Gallery style
.gallery {
  // 320 x 240
  .gallery-img {
    display: block;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 1px .05px rgba(0, 0, 0, 0.29);
    width: 226px;
    height: 211px;
    margin: 5px;
    float: left;
    overflow: hidden;
    .gallery-preview {
      position: relative;
      .gallery-preview-img {
        position: relative;
        padding: 5px;
        width: 100%;
        height: auto;
      }
    }
    .gallery-description {
      padding: 5px;
      text-align: center;
      font-size: smaller;
    }
  }
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}