@import "bourbon/bourbon";
// Main constants
$bg-color: #ebebeb;
$bg-dark: #464646;
$text-color: #535353;
$active-color: #16c5e4;
$highlight-color: #36d6f4;
$highlight-secondary-color: #92ced9;
$inactive-color: #b5b5b5;
$iface-font-family: "Arial Narrow";
* {
  font-family: sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #9d9d9d;
}
.main {
  height: 100%;
  width: 1024px;
  background: $bg-color;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.47);
}
header.site-header {
  height: 95px;
  flex: 0 0 auto;
}
h1.site-logo {
  margin: 0;
  @include position(relative, 25px null null 35px);
  color: #b8b8b8;
  font-family: $iface-font-family;
  font-size: 32px;
  font-weight: lighter;
  span {
    color: $highlight-color;
  }
}
nav.site-nav {
  ul {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      &:not(first-child) {
        margin-right: 20px;
      }
      a:link {
        font-size: 28px;
        color: $text-color;
        text-transform: uppercase;
        font-family: $iface-font-family;
        text-decoration: none;
      }
      a:visited {
        color: $text-color;
      }
      a:hover {
        text-decoration: underline;
      }
      a:active {
        color: $highlight-color;
      }
      a.selected {
        color: $active-color;
      }
    }
  }
}
section.slider {
  flex: 0 0 auto;
  height: 270px;
  background-color: $bg-dark;
  text-align: center;
  position: relative;
  overflow: hidden;
  .slider-background {
    width: 105%;
    height: 100%;
    box-shadow: inset 0 0 25px black;
    position: absolute;
    left: -15px;
  }
  img {
    display: inline-block;
    box-shadow: 5px 0 7px 0 rgba(0, 0, 0, 0.32);
  }
}
section.site-content {
  text-align: center;
  flex: 2 0 auto;
  background-color: $bg-color;
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $inactive-color;
    font-family: $iface-font-family;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
.content {
  margin: 0 18px;
  font-size: 0;
  text-align: left;
}
article.news-block {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  flex: 0 0 auto;
  .news-content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 1px 1px 4.95px 0.05px rgba(0, 0, 0, 0.29);
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    //margin: 15px;
    height: 400px;
  }
  header {
    flex: 0 1 auto;
    h1 {
      text-align: center;
      font-size: 20px;
      font-family: $iface-font-family;
      text-overflow: ellipsis;
      font-weight: lighter;
      text-transform: uppercase;
      color: $inactive-color;
      margin-bottom: 10px;
    }
  }
  .news-text {
    font-size: 14px;
    flex: 0 1 auto;
    p {
      margin: .3em 0;
    }
  }
  .preview-img {
    display: inline-block;
    flex: 2 0 auto;
    background: url(/images/news-item-preview.png) center no-repeat;
    background-size: contain; 
  }
  .news-description {
    display: table-row;
    height: 0;
    font-size: 17px;
    color: $text-color;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden
    // When there is now preview picture, only a description it sould take up all available space
    &:last-child {
          height: auto;
    }
  }
}
footer.site-footer {
  flex: 0 0 auto;
  text-align: center;
  font-size: smaller;
  color: $bg-dark;
  background-color: $bg-color;
}