// Main constants
$bg-color: #ebebeb;
$bg-dark: #464646;
$text-color: #535353;
$accent-color: #16c5e4;
$highlight-color: lighten($accent-color, 20%);
$active-color: lighten($accent-color, 30%);
$highlight-secondary-color: #92ced9;
$inactive-color: #b5b5b5;
$iface-font-family: "Arial Narrow";