// Main constants
$bg-color: #ebebeb;
$bg-dark: #464646;
$text-color: #535353;
$text-color-light: #989898;
$accent-color: #16c5e4;
$highlight-color: lighten($accent-color, 20%);
$active-color: lighten($accent-color, 30%);
$highlight-secondary-color: desaturate(lighten($accent-color, 30%), 20%);
$inactive-color: #b5b5b5;
$iface-font-family: "Arial Narrow";
$site-block-width-big: 708px;

@mixin site-block ($border: 10px) {
  border-style: solid;
  border-color: #fff;
  border-width: $border;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 1px 2px 2px .05px rgba(0, 0, 0, 0.29);
}

@mixin text-highlight-enable {
  transition: all .3s ease-in;
}
@mixin text-highlight {
  color: $accent-color;
  text-shadow: 0 0 15px transparentize($accent-color, 0.5);
}