{% extends "layout.njk" %}
{% set title = "Apps" %}
{% import 'macros/_nav.njk' as nav %}

{% block content %}
{{nav.active('apps')}}


<section class="site-content">
<h2 class="section-header">Apps</h2>

{% include "partials/_news.njk" %}
<aticle class="news-block">
  <header class="news-header">
    <span class="news-date">18 Apr 16</span>
    <h3 class="news-title">Site development progress</h3>
  </header>
  <div class="block-content">
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
  </div>
</aticle>
</section>
{% endblock %}
