{% extends "layout.njk" %}
{% set title = "Apps" %}
{% import 'macros/_nav.njk' as nav %}

{% block content %}
{{nav.active('apps')}}


<section class="site-content">
<h2 class="section-header">Apps</h2>

{% include "partials/_apps.njk" %}

</section>
{% endblock %}
