{% extends "layout.njk" %}
{% set title = "Main Page" %}
{% import 'macros/_nav.njk' as nav %}

{% block content %}
{{nav.active('main')}}


<section class="site-content">
{% include "partials/_slider.njk" %}

<h2 class="section-header">Latest News</h2>

{% include "partials/_news.njk" %}
<aticle class="news-block">
  <header class="news-header">
    <span class="news-date">18 Apr 16</span>
    <h3 class="news-title">Site development progress</h3>
  </header>
  <div class="news-content">
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
  </div>
</aticle>

<aticle class="news-block">
  <header class="news-header">
    <span class="news-date">10 Jun 16</span>
    <h3 class="news-title">News</h3>
  </header>
  <div class="news-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolorum quam possimus quasi eius impedit voluptatem delectus eum ut officia.</p>
  </div>
</aticle>
</section>
m?
Hello here.
  <p>Plain text.</p>
  <p>Another paragraph.</p>
  <p>Another paragraph.</p>
  <p>Another paragraph.</p>
  Hello.
  Hello?
  Hello again?
  Is it working?
  <a href="#">Typical link.</a>
  Hello?
  No reload.
{% endblock %}
