{% extends "layout.njk" %}
{% set title = "Main Page" %}
{% import 'macros/_nav.njk' as nav %}

{% block content %}
{{nav.active('main')}}


<section class="site-content">
{% include "partials/_slider.njk" %}

<h2 class="section-header">Latest News</h2>

{% include "partials/_news.njk" %}
</section>
{% endblock %}
