<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% set title = title | default('') %}
  <title>Alexander Emashev | {{title}}</title>
  <link rel="stylesheet" href="/vendor/normalize-css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/vendor/lightspeedbox/dist/lsb.css">
  <script src="/vendor/lightspeedbox/dist/lsb.min.js"></script>
  <link rel="stylesheet" href="/vendor/swipeslider/dist/swipeslider.css">
  <script src="/vendor/swipeslider/dist/swipeslider.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script>
    $(window).load(function() {
      $.fn.lightspeedBox();
    });
  </script>
</head>
<body>
  <div class="main">
    {% block content %}

    {% endblock content %}
    
    <footer class="site-footer">
      <div>Hello I'm a footer!</div>
    </footer>
  </div>
</body>
</html>
