<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Homepage of a software developer and CG artist Alexander Emashev">
  <meta name="keywords" content="illustration, cg artist, opensource, software, sarov, nijny novgorod">
  <meta name="author" content="Alexander Emashev">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico" />
  {% set title = title | default('') %}
  <title>Alexander Emashev | {{title}}</title>
  <link rel="stylesheet" href="/vendor/normalize-css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="/vendor/lightspeedbox/dist/lsb.css">
  <script src="/vendor/lightspeedbox/dist/lsb.min.js"></script>
  <link rel="stylesheet" href="/vendor/swipeslider/dist/swipeslider.css">
  <script src="/vendor/swipeslider/dist/swipeslider.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script>
    $(window).load(function() {
      $.fn.lightspeedBox();
    });
  </script>
</head>
<body>
  <div class="main">
    {% block content %}

    {% endblock content %}
    
    <footer class="site-footer">
      <div class="source-link">This is an open-source site. Development goes on <a href="https://github.com/AlexEmashev/personal_website">GitHub</a>. Feel free to fork, explore, give suggestions  and point out grammar and other mistakes.</div>
      <div class="copyright">Design and stuff by <a href="/about.html">Alexander Emashev</a>.</div>
    </footer>
  </div>
</body>
</html>
