<aticle class="site-block">
  <header class="site-block-header" id="lightspeedbox">
    <span class="block-date">12 Jun 16</span>
    <h3 class="block-title">LightSpeedBox</h3>
  </header>
  
  <div class="block-content">
    <div class="text-center">
      <img class="preview-img" src="/img/lsb_prev.gif" alt="LightSpeedBox in action">
    </div>
    <p>LightSpeedBox is a jQuery plugin for a fancy image preview box (also called a lightbox). The plugin can walk through a gallery as well as preview a single image. It's customizable and responsive.</p>
    <p>See it in action on the <a href="/gallery.html">gallery page</a> of this site.</p>
    <div class="download-button text-center">
    <a href="http://alexemashev.github.io/lsb-lightbox/"><i class="fa fa-external-link" aria-hidden="true"></i> More information</a>
    </div>
  </div>
</aticle>


<aticle class="site-block">
  <header class="site-block-header" id="swypeslider">
    <span class="block-date">14 May 16</span>
    <h3 class="block-title">Swypeslider</h3>
  </header>
  
  <div class="block-content">
    <div class="text-center">
      <img class="preview-img" src="/img/swipeslider_prev.gif" alt="Swipeslider in action">
    </div>
    <p>jQuery slider (carousel) plugin that is meant for performing a slideshow on a web-page. This plugin utilizes CSS transitions for smooth animation, support swipe, responsive and customizable.</p>
    <p>See it in action on the <a href="/">main page</a> of this site.</p>
    <div class="download-button text-center">
    <a href="http://alexemashev.github.io/swipeslider/"><i class="fa fa-external-link" aria-hidden="true"></i> More information</a>
    </div>
  </div>
</aticle>


<aticle class="site-block">
  <header class="site-block-header" id="zeeclient">
    <span class="block-date">26 Apr 16</span>
    <h3 class="block-title">ZeeClient</h3>
    <div class="text-center">
    <img class="preview-img" style="max-width: 128px; height: auto" src="/img/zeeclient_icon.png" alt="ZeeClient Logo"></div>
  </header>
  
  <div class="block-content">
    <p>Unofficial Zeemote client for Windows OS.</p>
    <p>This utility is meant for digital artists who've got a Windows tablet with digitizer (such as Microsoft Surface, Asus Vivotab Note etc.).  And happen to have a Zeemote gamepad for iOS and Android.</p>
    <div class="text-center">
      <img class="preview-img" src="/img/zeeclient_prev.jpg" alt="Zeemote client in action">
    </div>
    <p>Use this utility to add extra assignable keys to your tablet.</p>
    <div class="download-button text-center">
    <a href="https://github.com/AlexEmashev/ZeeClient"><i class="fa fa-github" aria-hidden="true"></i> Get it on GitHub</a>
    </div>
  </div>
</aticle>


 <aticle class="site-block">
  <header class="site-block-header" id="cyberage">
    <span class="block-date">21 Oct 15</span>
    <h3 class="block-title">Cyberage</h3>
  </header>
  
  <div class="block-content">
    <div class="text-center">
      <img class="preview-img" src="/img/cyberage_prev.jpg" alt="Cyberage watchface in action">
    </div>
    <p>A classic pebble watch face with slight cyberpunk flavour. Support different time formats, weather forecast and battery level.</p>
    <p>Made to celebrate "Back To The Future Day".</p>
        
    <div class="download-button text-center">
    <a href="https://github.com/AlexEmashev/Cyberage"><i class="fa fa-github" aria-hidden="true"></i> Get it on GitHub</a>
    </div>
  </div>
</aticle>


<aticle class="site-block">
  <header class="site-block-header" id="myip">
    <span class="block-date">5 Mar 15</span>
    <h3 class="block-title">MyIP</h3>
  </header>

  <div class="block-content">
   <div class="text-center"><img class="preview-img" style="max-width: 128px; height: auto" src="/img/myip_icon.png" alt="MyIP logo"></div>
    <p>A teeny-tiny utility that shows IP addresses. This utility shows internal IP as well as IP that show up on the Internet (external IP). It supports IPv4 and IPv6 address formats. Also support localization (Russian and English).</p>
    <div class="text-center"><img class="preview-img" src="/img/myip_prev.jpg" alt="MyIP logo"></div>
    <p>This tool has been made for my colleagues that not so much into IT but has to report their IP to our remote tech support.</p>
    <div class="download-button text-center">
    <a href="https://github.com/AlexEmashev/MyIP"><i class="fa fa-github" aria-hidden="true"></i> Get it on GitHub</a>
    </div>
  </div>
</aticle>