<ul class="social-block">
  <li>
    <a class="social-btn" href="http://cgrey.deviantart.com/gallery/" title="Deviantart">
        <span class="fa fa-deviantart fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="social-btn" href="https://github.com/AlexEmashev" title="Github">
      <span class="fa fa-github fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="social-btn" href="https://www.instagram.com/constantinegrey/" title="Instagram">
      <span class="fa fa-instagram fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="social-btn" href="https://twitter.com/2DLife" title="Twitter">
      <span class="fa fa-twitter fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="social-btn" href="https://www.facebook.com/alexander.emashev" title="Facebook">
      <span class="fa fa-facebook-square fa-lg"></span>
    </a>
  </li>
  <li>
    <a class="social-btn" href="http://vk.com/constantine_grey" title="Vkontakte">
      <span class="fa fa-vk fa-lg"></span>
    </a>
  </li>
</ul>
