  <script>
  $(window).load(function() {
      $('#swipeslider').swipeslider({
        sliderHeight: '43%',
        autoPlayTimeout: 5000
      });
  });
</script>

{% set slides = {
  location: '/gallery/',
  previewPrefix: '_slider',
  type: '.jpg',
  collection:[{
  alt: 'Tiny vacation',
  name: '0_tiny_vacation'
  },{alt: 'Summer Days',
  name: '3_summer_days'
  },{alt: 'Fire Wizard',
  name: '1firewizard'
  },{alt: 'Little Witch',
  name: '2littlewitch'
  },{alt: 'Nova',
  name: '4nova'
  },{alt: 'Little Red Riding Hood',
  name: '4_little_red_riding_hood'
  },{alt: 'Stylized oscilloscope',
  name: 'oscilloscope'
  },{alt: 'Bible (int + 2)',
  name: '5bible'
  },{alt: 'Lang from Yie Ar Kung-Fu',
  name: '5_lang_yie_ar_kungfu'
  }
]} %}


 <div class="slider-container">
  <header class="slider-header">
  <h2 class="block-title">Highlights</h2>
  </header>
  <figure id="swipeslider" class="swipeslider">
    <ul class="sw-slides">
      {% for slide in slides.collection %}
        <li class="sw-slide">
          <figure class="sw-content">
          <a class="lsb-preview" data-lsb-group="slider"
             href="{{slides.location + slide.name + slides.type}}">
            <img src="{{slides.location + slide.name + slides.previewPrefix + slides.type}}"
              alt="{{slide.alt}}">
          </a>
          </figure>
        </li>
      {% endfor %}
    </ul>
  </figure>
</div>
