// Gallery style
.gallery {
  
  
  
//      .gallery-preview {
//      position: relative;
//
//      .gallery-preview-img {
//        height: auto;
//        padding: 5px;
//        position: relative;
//        width: 100%;
//      }
//    }
//
//    .gallery-description {
//      font-size: smaller;
//      padding: 5px;
//      text-align: center;
//    }

  &::after {
    clear: both;
    content: ' ';
    display: table;
  }
}

// 320 x 240
.gallery-img {
  @include site-block($border: 3px);
  display: block;
  float: left;
  height: 211px;
  margin: 5px;
  overflow: hidden;
  width: 226px;
}

.gallery-preview {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.gallery-preview-img {
  width: 100%;
  height: auto;
  transition: transform .2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.gallery-img-descr {
  font-size: smaller;
  padding: 5px;
  text-align: center;
}