.site-header {
  background: fade-out($bg-light, .07);
  box-shadow: $iface-block-shadow;
  height: 60px;
  left: 0;
  overflow: visible;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  @include breakpoint(tablet) {
    overflow: visible;
    .site-logo {
      font-size: 22px;
    }
  }
  @include breakpoint(mobile) {
    overflow: visible;
    .site-logo {
      font-size: 14px;
    }
  }

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.site-nav {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  @include breakpoint(tablet) {
    float: right;
    overflow: visible;
  }
}

.site-nav.open .nav-items{
  @include breakpoint(tablet) {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
}

.nav-items {
  display: inline-block;
  list-style: none;
  padding: 0;
  position: relative;
  text-align: center;
  top: 10px;
  vertical-align: bottom;
  @include breakpoint(tablet) {
    display: block;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -20px;
    min-width: 230px;
    transition: 0.2s all;
    visibility: hidden;
    overflow: visible;
    box-shadow: $iface-block-shadow;
  }
}

.nav-item {
  display: inline-block;

  &:not(first-child) {
    margin-right: 20px;
  }

  @include breakpoint(tablet) {
    background-color: lighten(fade_out($bg-color, 0.07), 30%);
    display: block;
    &:not(first-child) {
      margin: 0;
    }

    a {
      display: block;
      padding-bottom: 10px;
    }
  }
}

.nav-link {
  &:link {
    @include text-highlight-enable;
    color: $text-color;
    font-family: $iface-font-family;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &:visited {
    color: $text-color;
  }

  &:hover {
    @include text-highlight;
    text-decoration: underline;
  }

  &:active {
    color: $active-color;
  }

  &.selected {
    color: $accent-color;

    &:hover {
      color: $highlight-color;
    }

    &:active {
      color: $active-color;
    }
  }
}

.nav-open-button {
  width: 100%;
  height: 100%;
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  color: $text-color;
  font-size: 27px;
  text-align: left;
  cursor: pointer;
  @include breakpoint(tablet) {
    display: block;
  }
}

.site-nav .hamburger-menu-icon span {
  background-color: $text-color;
}


.site-nav.open .nav-open-button {
  color: $accent-color;
  .hamburger-menu-icon span {
    background-color: $accent-color;
  }
}
