@import 'theme';
@import '_helpers';
@import '_header';
@import '_nav';
@import '_news';
@import '_social';
@import '_site_logo';
@import '_hamburger_menu';
@import '_slider';
@import '_gallery';

* {
  box-sizing: border-box;
  font-family: $iface-font-family;
  color: #3e4347;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h3 {
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1.22em;
  line-height: 1.2;
  margin-top: .17em;
  margin-right: 0;
  margin-bottom: .482em;
  margin-left: 0;
}
body,
html {
  height: 100%;
}

body {
  background: $bg-dark;
}

a {
  &:link {
    color: $link;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $link-active;
  }

  &:visited {
    color: $link-visited;
  }
}
p {
  font-size: 1em;
  line-height: 1.617em;
  margin-bottom: 1.618em;
  margin-top: 0;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  letter-spacing: 0;
}
ul, ol {
  font-size: 1em;
  line-height: 1.618em;
  margin: -1em auto 0 0;
  margin-top: -1.618em;
  margin-bottom: 1.618em;
  font-weight: 400;
  list-style: disc;
  padding-left: 2em;
}
li {
  margin: 0;
  font-size: 15px;
}

.main {
  min-height: 100%;
  margin: 75px 0 0;
  position: relative;
  padding-bottom: $footer-height;
}


.site-content {
  margin: 15px auto;
  max-width: $site-block-width-big;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

h2.section-header {
  color: $text-color;
  font-family: $iface-font-family;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-top: 18px;
  text-align: center;
  text-transform: uppercase;
}

.site-footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  font-size: smaller;
  overflow: hidden;
  text-align: center;
}
