@import 'theme';
@import '_helpers';
@import '_header';
@import '_nav';
@import '_news';
@import '_social';
@import '_site_logo';
@import '_hamburger_menu';
@import '_slider';
@import '_gallery';
@import '_footer';
@import '_about';

* {
  box-sizing: border-box;
  font-family: $iface-font-family;
  color: #3e4347;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
}
h3 {
  font-weight: 300;
  letter-spacing: 0;
  font-size: 1.22em;
  line-height: 1.2;
  margin-top: .17em;
  margin-right: 0;
  margin-bottom: .482em;
  margin-left: 0;
}
body,
html {
  height: 100%;
}

body {
  background: $bg-dark;
  background-image: url('../img/img-noise-200x200.png');
  background-repeat: repeat;
}

a {
  &:link {
    color: $link;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $link-active;
  }

  &:visited {
    color: $link-visited;
  }
}
strong {
  font-weight: 500;
}
p {
  font-size: 1em;
  line-height: 1.617em;
  margin-bottom: 1.618em;
  margin-top: 0;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
  letter-spacing: 0;
}
ul, ol {
  font-size: 1em;
  line-height: 1.618em;
  margin: 0 auto 0 0;
  //margin-top: -1.618em;
  margin-bottom: 1.618em;
  font-weight: 400;
  list-style: disc;
  padding-left: 2em;
}
li {
  margin: 0;
  font-size: 15px;
}

.main {
  min-height: 100%;
  margin: 75px 0 0;
  position: relative;
  padding-bottom: $footer-height;
}


.site-content {
  margin: 15px auto;
  max-width: $site-block-width-big;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

h2.section-header {
  color: $text-color;
  font-family: $iface-font-family;
  font-weight: lighter;
  padding-bottom: 10px;
  padding-top: 18px;
  text-align: center;
  text-transform: uppercase;
}

.site-block {
  @include site-block;
  display: block;
  margin: 0 auto 15px;
  position: relative;
  max-width: $site-block-width-big;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.site-block-header {
  @include site-block-header;
}

.block-content {
  color: $text-color-light;
  padding: 0 5px;
  text-align: left;
//  h2, h3, h4, h5, h6 {
//    text-align: center;
//  }

  .preview-img {
    display: block;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    height: auto;
  }
}

.block-date {
  color: $highlight-secondary-color;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  @include breakpoint(tablet) {
    font-size: 12px;
  }
  
}