// Main constants
$bg-light: #fff;
$bg-dark: #9d9d9d;
$bg-darker: #464646;

$link: #4a859c;
$link-visited: #45618e;
$link-active: #58bcd9;

$iface-block-shadow: 1px 2px 2px .05px rgba(0, 0, 0, .29);
$iface-block-shadow-hover: 2px 3px 2px .05px rgba(0, 0, 0, .29);

// Logo colors
$logo-color: #afafaf;

$bg-color: #ebebeb;

$text-color: #535353;
$text-color-light: #8d8d8d;
$accent-color: #16c5e4;

$highlight-color: lighten($accent-color, 20%);
$active-color: lighten($accent-color, 30%);
$highlight-secondary-color: lighten($accent-color, 10%);
$inactive-color: #b5b5b5;
$iface-font-family: 'Roboto', sans-serif;
$font-monospace: 'Roboto Mono', monospace;
$site-block-width-big: 708px;
$footer-height: 50px;
$block-border-radius: 4px;

// responsive mixin
@mixin breakpoint($point: mobile) {
  @if $point == mobileL {
    @media screen and (min-width: 425px) { @content; }
  }
  @if $point == tablet {
    @media screen and (min-width: 768px) { @content; }
  }
  @if $point == desktop {
    @media screen and (min-width: 992px) { @content; }
  }
}

@mixin site-block ($padding: 10px) {
  background-color: $bg-light;
  border-color: $bg-light;
  border-radius: $block-border-radius;
  padding: $padding;
  box-shadow: $iface-block-shadow;
  &:hover {
    box-shadow: $iface-block-shadow-hover;
  }
}

@mixin site-block-header ($fontSize: 1em) {
  display: block;
  position: relative;
  overflow: hidden;
  font-size: $fontSize;
  .block-title {
    margin-top: 0;
    margin-bottom: .482em;
    margin-left: 90px;
    margin-right: 90px;
    font-size: $fontSize;
    color: $text-color-light;
    text-transform: uppercase;
    font-weight: 300;
    @include breakpoint(tablet) {
      font-size: $fontSize * 1.1;
    }

  }
  @include breakpoint(tablet) {
    font-size: $fontSize * 1.1;
  }
  @include breakpoint(desktop) {
    font-size: $fontSize * 1.1;
  }
}

@mixin text-highlight-enable {
  transition: .15s ease-in;
}

@mixin text-highlight {
  color: $accent-color;
  text-shadow: 0 0 15px transparentize($accent-color, 0.5);
}
